<main>
    <h2>Topics Galore</h2>
    <p>Create the topics you would like to follow for the latest in tech news</p>
    <a href="/topic/new">Create a Topic</a>

    

    {{#each listOfTopic}}
    <a href="/topic/{{_id}}">
        <p>{{name}}</p>
        <p>{{description}}</p>
    </a>


    {{/each}}

</main>
<img src="" alt="">