<main>
    <a href="/topic/new">Add new Topic</a>

    <h2>Topics Galore</h2>

    {{#each listOfTopic}}
    <a href="/topic/{{_id}}">
        <p>{{name}}</p>
        <p>{{description}}</p>
    </a>


    {{/each}}

</main>
<img src="" alt="">