<h1>New Topic</h1>
<form action="/topic" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Topic's name">
    </div>
    <div>
        <label for="description" placeholder="Description">Description:</label>
        <input type="text" name="description">
    </div>
    <button type="submit">Save Topic</button>
</form>