<h1>{{title}}</h1>

{{!-- Background Image --}}
<div id="landingPage">

    {{!-- Sign Up Box --}}
    <div id="signUpBox">

    </div>

    {{!-- What is BubbleBot --}}
    <div id="learnMoreContainer">
        <button id="learnMoreButton" onclick="showLearnMore();">What's BubbleBot?</button>
        <p id="learnMore">BubbleBot sends everyone the latest news about women in technology. Subscribe to get an inside look into the industry, read about the women running things, and even stay on top of the latest tech trends.</p>
    </div>
</div>

<script src='../javascripts/script.js'></script>
