<h1>{{title}}</h1>
<p>Welcome to this app</p>

{{!-- Background Image --}}
<div id="landingPage">

    {{!-- Sign Up Box --}}
    <div>

    </div>

    {{!-- What is BubbleBot --}}
    <div id="learnMore">
        <h4>What's Bubblebot?</h4>
        <p>BubbleBot sends everyone the latest news about women in technology. Subscribe to get an inside look into the industry, read about the women running things, and even stay on top of the latest tech trends.</p>
    </div>
</div>

