<h1>Your Article Index Works Girl!</h1>

{{!-- <h1>The Topic You Chose</h1>

<img src="" alt="">
<h3>Article 1 Title</h3>
<p>Article 1 Summary</p>
<a href="#">comments +</a> clicking this will show article page

<img src="" alt="">
<h3>Article 2 Title</h3>
<p>Article 2 Summary</p>
<a href="#">comments +</a> --}}
