*{
  margin-top:0;
}

body {
  padding: 0px 50px 0px 50px;
  margin-top:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

a {
  color: #00B7FF;
}

#landingPage {
  background-image: url('../images/bubblebot53.jpg');
  background-size: cover;
  width: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
}

#learnMoreContainer {
  background-color: yellow;
  width: 200px;
  text-align: center;
  padding: 2px;
  align-self: flex-end;
}

#learnMore {
  display:none;
}

#signUpBox{
  width: 325px;
  height: 65%;
  background-color: dimgrey;
}